body,
html {
  /* height: 50%; */
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../img/Rocket\ Nozzle\ Installed\ on\ Lathe.jpg");
  min-height: 50vh;
}

.bgimg-2 {
  background-image: url("../img/AR Jig.jpg");
  min-height: 50vh;
}

.bgimg-3 {
  background-image: url("../img/Bushings.JPG");
  min-height: 50vh;
}

.bgimg-4 {
  background-image: url("../img/Plate in Machine.JPG");
  min-height: 50vh;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 25px "Lato", sans-serif;
  color: #ffffff;
}

h5 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 15px "Lato", sans-serif;
  color: #ffffff;
}

/* Turn off parallax scrolling for tablets and phones */
/* @media only screen and (max-device-width: 1024px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3,
    .bgimg-4 {
        background-attachment: scroll;
    }
} */

#container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282E34;
}

#logo {
  max-height: 150vh;
  transition: max-height 0.5s ease-out;
}

body,
html {
  min-height: 225%;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

user agent stylesheet .site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.navbar-dark {
  background-color: #282e34cf;
  margin-top: 0;
}

.navbar {
  align-items: center;
  text-align: center;
}

body {
  display: block;
  margin: 0px;
}

p {
  font-size: 20px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
}

img {
  max-width: 100%;
}

.parallax {
  /* The image used */
  background-image: url();

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.close {
  font-size: 1.5rem;
  color: white
}

.modal-dialog {
  width: 500px;
  height: 500px;
}

.modal-content {

  /* 80% of window height */

  height: 100%;
  width: 100%;
  background-color: #0b0b0b00;

}

.modal-header {

  background-color: #337AB7;
  padding: 16px 16px;
  color: #FFF;
  border-bottom: 2px dashed #337AB7;

}

.col-12 video {
  opacity: 0.7;
  cursor: pointer;
  margin: 2rem;
  width: 100%;
}

.col-12 video:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-12 img {
  opacity: 0.7;
  cursor: pointer;
  margin: 2rem;
  width: 100%;
}

.col-12 img:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contactus {
  margin-left: auto;
  margin-right: auto;
  justify-content: left;
}